.filterContainer{
    margin: 30px 0;
}

.album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px 80px;
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}