.infoBar {
    position: fixed;
    right: 40;
    bottom: 0;
    background-color: var(--button-secondary-hover);
    color: black;
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.likes{
    display: flex;
    gap: 10px;
}